.main {
    display: flex;
    flex-direction: column;
}

.title_number {
    align-self: center;
}

.status_done {
    color: #0CC;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 640px;
}

.image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    background: #000000 50% / cover no-repeat;
}

.ing_price_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.list {
    padding: 0;
    max-height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
}

.list::-webkit-scrollbar {
    width: 8px;
    height: 312px;
    background-color: #2F2F37;
}

.list::-webkit-scrollbar-thumb {
    height: 140px;
    background-color: #8585AD;
}

.list_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(to left, #743ad5, #d53a9d);
}

.list_item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image_name_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.total_price_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.date_price_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}