.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 256px;
    height: 256px;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.link {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #8585AD;
}